<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%- include('./templates/head.ejs')  %>


    <!-- Include Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Load other CSS stylesheets -->
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="stylesheet" href="/static/styles/custom_icons.css" />

    <!-- Inlude geolocalization and other scripts -->
    <script src="/static/scripts/geolocalization.js"></script>
    <script src="/static/scripts/home.js"></script>
</head>

<body>
    <div class="flex-container">
        <!-- Header -->
        <%- include('./templates/header.ejs')  %>

        <!-- Create a div to hold the map -->
        <div class="map-container" style="position: relative; ">
            <div id="map" style="height: 500px;"></div>
            <div class="map-button-container">
                <div id="close-open-map" class="submit-button" style="max-width: fit-content;">Close Map</div>
                <div id="add-spot-map" class="submit-button" style="max-width: fit-content;">Add Spot on Map</div>
            </div>
            <div id="drag-map" style="cursor: ns-resize; background-color: #333; text-align: center;">
                <div></div>
            </div>
        </div>
        <style>

        </style>


        <div id="location-selection-wrapper" class="expand-container">
            <div>

            </div>
            <h2>Select your Location</h2>
            <div style="display: flex; justify-content: center;">
                <div>
                    <label for="countrysearch">Search a Country</label>
                    <input id="countrysearch" type="text" list="country_suggestions">
                    <datalist id="country_suggestions">
                        <% allCountries.forEach((country)=>{ %>
                        <option value="<%= country.name + ' - ' + country.isoCode %>" data_lat="<%= country.latitude %>" data_lng="<%= country.longitude %>"></option>
                        <% }) %>
                    </datalist>
                </div>
                <div id="city-search-wrapper" class="hidden">
                    <label for="citysearch">Search for a Location</label>
                    <input id="citysearch" type="text" list="city_suggestions">
                    <datalist id="city_suggestions">
                    </datalist>
                </div>

                <div class="find-me">
                    <span>or</span><button class="submit-button" id="find-my-location">Find Where I Am</button>
                </div>
            </div>
            <div id="show-city-name"></div>

        </div>

        <section class="main-container hidden" style="text-align: center;">
            <!-- Search For Tags -->
            <div>
                <h2><label for="search-tags">Use "Key Words" to search for what you are looking for</label></h2>
                <input type="text" id="search-tags" placeholder="electrician, surfing, icecream anything really">
            </div>
            <!-- div class="tags-result-wrapper">

            </div -->
            <div>
                Most Used Tags
            </div>
            <div class="tags-result-wrapper">
                <% mostUsedTags.forEach( tag => {%>
                <div class="entity-tag entity-tag-selection"><%= tag.tag_name %></div>
                <% }) %>
            </div>
            <button class="submit-button hidden" id="search-entities">Search Local Knowledge</button>
            <div id="search-tag-results" class="entity-cards-containers">

            </div>
        </section>

        <!-- Recent Knowledge Addtions -->
        <section class="hidden" style="text-align: center; background-color: #f4f4f4;">
            <div class="main-container recently-added">
                <h2>Recently Added in </h2>
                <div id="recent-entities-container" class="entity-cards-containers">
                    <div class="entity-card">
                        <div class="entity-card-title"><b>$Name</b> in location</div>
                        <div>Tags: $tag1, $tag2</div>
                        <div>
                            <b>Contact Info:</b>
                            <br>
                            <ul>
                                <li>Email: $Email</li>
                                <li>Phone: $Phone</li>
                                <li>Website: $Website</li>
                            </ul>
                        </div>
                        <div>
                            <b>Review</b>
                            <br>
                            $Review
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contribute to Geolocalknowledge -->
        <section>
            <div class="main-container " style="text-align: center">
                <h2>Contribute with Local Knowledge</h2>
                <div class="main-container" style="text-align: center;">
                    <button id="show-addentity-popup" class="submit-button">
                        Add Local Knowledge
                    </button>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <%- include('./templates/footer.ejs')  %>

    </div>
</body>


<!-- Leaflet map script -->
<script>
    // Initialize the map
    var map = L.map('map', {
        scrollWheelZoom: false
    }).setView([0, 0], 2); // Default view, can be changed

    //map layers
    var findMeLayer = L.layerGroup().addTo(map);
    var clickLayer = L.layerGroup().addTo(map);
    var markersLayer = L.layerGroup().addTo(map);
    var addingSpot = false
    var currentLocation = {}



    // Add a tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors',
        maxZoom: 19
    }).addTo(map);

    // Function to handle geolocation success
    function onLocationFound(e) {
        var radius = e.accuracy / 2;

        // remove previose markers and circle
        findMeLayer.clearLayers()

        // Add a marker at the current location
        var marker = L.marker(e.latlng)

        // Add the new marker to the group
        findMeLayer.addLayer(marker)

        // Add a circle to represent the accuracy of the location
        var circle = L.circle(e.latlng, radius)
        findMeLayer.addLayer(circle)

        // Get the name of the clsoest city
        fetchClosestCity(e.latlng.lat, e.latlng.lng).then(city => {

            console.log("onLocFound", city);

            // Automatically zoom the map to the location
            marker.bindPopup("You should be within " + radius + " meters from this point.<br> The closest location is " + city[0].name).openPopup();

            map.setView(e.latlng, 15); // 13 is the zoom level, adjust as needed

            console.log(e.latlng)

        });

    }

    // Function go to location
    function goToLocation(map, latitude, longitude, zoom) {
        // Automatically zoom the map to the location

        const latlng = {
            lat: latitude,
            lng: longitude
        }
        map.setView(latlng, zoom);
    }

    // Function to handle geolocation error
    function onLocationError(e) {
        alert(e.message);
    }

    // Attempt to get the user's location, use promise to to get return value of current location
    function locateUser() {
        return new Promise((resolve, reject) => {
            // Options for geolocation
            var options = {
                enableHighAccuracy: true,
                maximumAge: 30000,
                timeout: 15000
            };

            map.locate(options);

            map.once('locationfound', e => resolve(e));
            map.once('locationerror', e => reject(e));
        });
    }

    // Show the result on index page
    async function showClosestCityResult(lat, lng) {
        try {
            const closestCities = await fetchClosestCity(lat, lng);
            document.getElementById("show-city-name").innerHTML = `You should be in <b>${closestCities[0].name}</b><br><br><button type='button' class='submit-button' id='set-location-button'>Set <b>${closestCities[0].name}</b> as your location</button>`
            document.getElementById("set-location-button").addEventListener("click", () => {
                setLocation(closestCities[0])
            })
        } catch (error) {
            // Handle any errors
            console.error(error);
        }
    }

    // Set chosen location
    async function setLocation(location) {

        const name = location.name
        const data = await JSON.stringify({
            name: name,
            lat: location.latitude,
            lng: location.longitude
        })

        currentLocation = location

        localStorage.setItem('location', data)

        // Post data to set location
        try {
            const response = await fetch('/set_location', {
                method: 'POST', // Specify the method
                headers: {
                    'Content-Type': 'application/json', // Specify the type of data being sent
                },
                body: data // Send the stringified data
            });

            if (!response.ok) { // Check if the request was successful
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const responseData = await response.json(); // Assuming the server responds with JSON
            console.log('Success:', responseData); // Handle success
        } catch (error) {
            console.error('Error posting location:', error); // Handle errors
        }

        //show hidden sections
        showAllSections(name)

        // update entities view
        getEntities(name, 9).then(data => fillCardsContainer(data, '#recent-entities-container'))


    }

    //map to check add the pointers on the map
    map.on('zoomend', function() {
        var currentZoomLevel = map.getZoom();
        var center = map.getCenter();
    

        markersLayer.clearLayers()
        clickLayer.clearLayers()
        var marker = L.marker(center)
        clickLayer.addLayer(marker)

        fetchClosestCity(center.lat, center.lng, 5).then(cities => {
            addCityMarkers(cities, center)
        });
    });

    // Function to add a marker on the map where the user clicks
    function exploreMapOnClick(e) {
        clickLayer.clearLayers()

        // Create a marker and popup
        var marker = L.marker(e.latlng)
        marker.bindPopup("You clicked the map at " + e.latlng.toString()).openPopup();

        clickLayer.addLayer(marker)

        fetchClosestCity(e.latlng.lat, e.latlng.lng, 5).then(cities => {
            addCityMarkers(cities, e.latlng)
        });

    }

    // adds city markers from an array of cities
    function addCityMarkers(array, centerLatLng = null) {

        //custom icon
        const customIcon = (htmlText) => {
            return L.divIcon({
                className: 'custom-icon', // Custom class for styling
                html: `<div class="icon-label">${htmlText}</div>`, // HTML content for the icon
                iconAnchor: [0, 10], // Anchor point of the icon to the marker
            });
        }

        markersLayer.clearLayers()


        //ad marker and popuo for each city
        array.forEach(city => {
            const cityLatLng = {
                lat: city.latitude,
                lng: city.longitude
            }

            // get entites for each city
            getEntities(city.name, 10000)
                .then(data => {

                    // create the html to be isnerted
                    let htmlText = `<b>${city.name}</b><br>${data.entities.length} knowledge entites found`

                    // create the custom marker 
                    const marker = L.marker(cityLatLng, {
                        icon: customIcon(htmlText)
                    })
                    markersLayer.addLayer(marker)

                    // Draw a line from the city to the center
                    if (centerLatLng) {
                        const line = L.polyline([cityLatLng, centerLatLng], {
                            color: 'blue',
                            weight: 2
                        });
                        markersLayer.addLayer(line);
                    }
                })


        })
    }

    // Listen for click event on the map
    map.on('click', exploreMapOnClick);
</script>

<!-- Event Listeners -->
<script>
    // Bind even listener to find my location button to get gps coordinates of user
    document.getElementById("find-my-location").addEventListener("click", () => {
        locateUser().then(e => {
            // show location name to user on web page
            showClosestCityResult(e.latlng.lat, e.latlng.lng)

            // show pin on map
            onLocationFound(e)
        }).catch(error => {
            console.error('Location error:', error);
        });
    })

    // Populate countries datalist
    document.getElementById('countrysearch').addEventListener('input', (e) => {
        const value = e.target.value;
        const dataList = document.getElementById('country_suggestions');

        // Check if the input value matches one of the options
        for (const option of dataList.options) {
            if (option.value === value) {

                // Get the lat and lng from the option that was selected
                const latitude = option.getAttribute("data_lat")
                const longitude = option.getAttribute("data_lng")

                // Zoom to country
                goToLocation(map, latitude, longitude, 5)

                // Extract the ISO code from the value
                const isoCode = value.split(' - ')[1];

                // Call the function to fetch cities by ISO code
                fetchCitiesByIsoCode(isoCode);

                // Unhide city input bar
                document.getElementById("city-search-wrapper").classList.remove("hidden")

                break;
            }
        }
    });

    // Populate locations datalist
    document.getElementById('citysearch').addEventListener('input', (e) => {
        const selectedCityName = e.target.value;
        const cityObject = getCityCoordinates(selectedCityName, cities);

        if (cityObject) {
            goToLocation(map, cityObject.latitude, cityObject.longitude, 12)
            document.getElementById("show-city-name").innerHTML = `<br><button type='button' class='submit-button'>Set <b>${cityObject.name}</b> as your location</button>`
            document.getElementById("show-city-name").querySelector("button.submit-button").addEventListener("click", () => {
                setLocation(cityObject)
            })
        }
    });

    // Create a popup to add entites
    document.getElementById('show-addentity-popup').addEventListener('click', () => {
        createKnowledgePopup()
    })

    // Select tags for search
    document.querySelectorAll(".entity-tag-selection").forEach(element => {

        //add event to each tag button
        element.addEventListener('click', (e) => {
            e.target.classList.toggle('selected');

            const selected = document.querySelectorAll(".entity-tag-selection.selected")

            // if atl east one is slected then show search button
            if (selected.length > 0) {
                document.querySelector('#search-entities').classList.remove("hidden")
            } else {
                document.querySelector('#search-entities').classList.add("hidden")
            }
        })

    })

    // get knowledge from searched tags
    document.getElementById('search-entities').addEventListener("click", () => {
        const selected = document.querySelectorAll(".entity-tag-selection.selected")
        if (selected.length == 0) return alert("no tags selected")

        const location = JSON.parse(localStorage.getItem("location"))

        // get the selected tags
        const tags = []
        selected.forEach(element => {
            tags.push(element.innerText)
        })


        getEntities(location.name, 9, tags)
            .then(data => {
                fillCardsContainer(data, '#search-tag-results')
                // highlight the similar cards
                document.querySelectorAll('#search-tag-results .entity-tag').forEach(entityTag => {
                    if (tags.includes(entityTag.innerText)) entityTag.classList.add('selected')
                })
            })
    })

    // close/open map listener
    document.getElementById('close-open-map').addEventListener("click", (e) => {
        const map = document.querySelector('#map')
        const mapContainer = document.querySelector('.map-container > div:nth-child(2)')

        if (e.srcElement.innerText == "Close Map") {
            map.classList.add("hidden")
            mapContainer.style.position = 'relative'
            dragElement.classList.add("hidden")
            e.srcElement.innerText = "Open Map"
        } else {
            map.classList.remove("hidden")
            mapContainer.style.position = 'absolute'
            dragElement.classList.remove("hidden")
            e.srcElement.innerText = "Close Map"
        }
    })

    // create a marker a nd find closest cities when zooming
    async function changeHeight(element, qty) {
        let value = parseInt(element.style.height)

        value = value + qty
        element.style.height = String(value) + 'px'

        if (qty < 0) {
            if (value > 0) setTimeout(() => {
                return changeHeight(element, qty)
            }, 1)
            else element.style.height = '0px'
        } else {
            if (value < 500) setTimeout(() => {
                return changeHeight(element, qty)
            }, 1)
            else element.style.height = '500px'
        }



    }

    // filter tags
    document.getElementById('search-tags').addEventListener("input", (e) => {

        let inputs = e.srcElement.value.split(",")
        let tagContainer = document.querySelector(".tags-result-wrapper")
        tagContainer.querySelectorAll(".entity-tag.entity-tag-selection").forEach(tag => {
            let contains = false
            inputs.forEach(inp => {
                if (tag.innerText.includes(inp.trim())) {
                    contains = true
                }
            })
            if (contains) tag.classList.remove("hidden");
            else tag.classList.add("hidden");
        });
    })

    // Add cool spot button listener
</script>

<!-- Drag Map Code -->
<script>
    let isDragging = false;
    const dragElement = document.getElementById("drag-map");
    const mapElement = document.getElementById("map");
    const dragCircle = document.querySelector("#drag-map > div")


    dragElement.addEventListener("mousedown", function(e) {
        isDragging = true;
        let startY = e.clientY;
        let startHeight = mapElement.offsetHeight;

        function onMouseMove(e) {
            if (!isDragging) return;
            let newY = e.clientY;
            // Calculate the new height based on the drag
            let newHeight = startHeight + (newY - startY);
            // Ensure the new height is within the bounds of 100px and 80vh
            const minHeight = 100; // Minimum height in pixels
            const maxHeight = 0.8 * window.innerHeight; // Maximum height (80vh)
            newHeight = Math.max(minHeight, Math.min(newHeight, maxHeight));
            mapElement.style.height = `${newHeight}px`;

        }

        function onMouseUp() {
            isDragging = false;
            document.removeEventListener("mousemove", onMouseMove);
            document.removeEventListener("mouseup", onMouseUp);
            map.invalidateSize()
        }

        document.addEventListener("mousemove", onMouseMove);
        document.addEventListener("mouseup", onMouseUp);


    });
</script>

<!-- Show All options if localStorage location exists -->
<script>
    window.onload = async () => {
        const location = await JSON.parse(localStorage.getItem("location"))

        if (location) {
            showAllSections(location.name);
            getEntities(location.name, 9).then(data => fillCardsContainer(data, '#recent-entities-container'))

            goToLocation(map, location.lat, location.lng, 15)


        } else {
            /*locateUser().then(e => {
                // show pin on map
                onLocationFound(e)
            }).catch(error => {
                console.error('Location error:', error);
            });*/
        }
    }
</script>

</html>