<footer>
    <div>
        Author: Ivo Teruggi
    </div>
    <div style="text-align: center;">
        geolocalknowledge.world - a BSc Computer Science Final Project
    </div>
        
    <div style="text-align: right;">
        <img loading="lazy" height="28" src="/static/assets/images/Uni_of_London-Goldsmiths_joint_logo2.png" alt="University of London-Goldsmiths joint logo">
    </div>
</footer>