<header>
    <div class="header-wrapper">
        <div class="logo-header" onclick="window.location.href='/'" style="display: flex; align-items: center;">
            <img src="/static/assets/icons/favicon2.png" style="height: 40px; border-radius: 4px;" alt="">
            <div style="color: #fff; font-weight: 700; font-size: x-large; margin-left: 8px;">GEO LOCAL KNOWLEDGE</div>
        </div>
        <!--div class="city selection"></div-->
        <% if (typeof user != 'undefined' && user) { %>
        <div class="log-in-wrapper" data-loggedIn="true" style="display: flex; gap: 8px; align-items: center;">
            Hi, <%= user.username %><span class="drop-down">⇓</span>
            <div id="user-nav-menu" class="hidden">
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <% } else { %>
        <div class="log-in-wrapper" data-loggedIn="false" style="display: flex; gap: 8px;">
            <button onclick="window.location.href='/login'" class="general-button" style="width: max-content;">Log In</button>
            <button onclick="window.location.href='/register'" class="general-button" style="width: max-content;">Sign Up</button>
        </div>
        <% } %>
    </div>
    <script>
        const dropdownarrow = document.querySelector('.log-in-wrapper > .drop-down')
        if (dropdownarrow)
        dropdownarrow.addEventListener("click", ()=> {
            document.querySelector('#user-nav-menu').classList.toggle('hidden')
            dropdownarrow.innerText = dropdownarrow.innerText == '⇓' ? '⇑' : '⇓'

        })
    </script>
</header>