.custom-icon .icon-label {
    color: #333; 
    background: rgba(255, 255, 255, 0.85); 
    padding: 1px 8px; 
    border-radius: 0 50px 50px; 
    font-size: 10px; 
    text-align: center; 
    white-space: nowrap; 
    display: inline-block;
    border: solid 2px purple;
    
}

.city-marker {
    border-color: var(--main-green) !important;
}

.custom-icon .icon-label {
    box-shadow: 4px 4px 5px #3337;
}

.map-entity-name, .icon-label.entity-icon  {
    box-shadow: 4px 4px 5px #333b;
}

.icon-label:hover + div {
    z-index: 1000 !important;
}

.icon-label.entity-icon > div > img{
    height: 58px;
    border-radius: 3% 50% 50%;
    border: solid;
    padding: 3px;
}

.custom-icon-initials {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border: solid;
    border-radius: 3% 50% 50%;
}

.icon-label.entity-icon {
    border-radius: 5% 50% 50% !important;
    border-width: 2px;
    min-height: 15px;
    min-width: 15px;
    border-color: var(--main-green)
}

.map-entity-name {    
    background: #fff;
    width: 70px;
    font-size: 1em;
    padding: 2px;
    text-align: center;
    border-radius: 4px;
    margin-top: 4px;
    border: solid 2px var(--main-green);
    font-family: "Roboto Condensed";

}

.icon-label.entity-icon {
    padding: 0;

}