/********** EVERY THING MODAL***************/

.modal-message-container {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20000;
    align-items: center;
    justify-content: center;
    background-color: #333b;
}

.inner-message-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 20;
    background: #fff;
    width: 40%;
    height: fit-content;
    max-width: 340px;
    padding: 26px;
    /*border: solid 2px var(--main-green);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 10px;
}

.modal-img {
    max-height: var(--modal_max_h);
    max-width: 80vw;
    margin: auto 45px;
    position: absolute;
    background: #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}


.message-modal-anim {
    animation: modal-anim;
    animation-duration: 0.45s;
    animation-iteration-count: 1;
}

.modal-overlay {
    animation: modal-anim;
    animation-duration: 0.45s;
    animation-iteration-count: 1;
}

@keyframes modal-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }

}

.file-upload {
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    max-width: 350px;
    margin-bottom: 0;
}

.file-upload img {
    height: 1.8em
}

.file-upload:hover {
    background-color: #eee;
    border-color: #3333;
    font-size: 1.1em;
}

.file-upload-label {
    padding: 30px 20px;
    cursor: pointer;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: contrast(0.8);
    transition: 0.15s ease-in-out;
}

.dragover {
    transition: 0.15s ease-in-out;
    background-color: #eee;
    border-color: #3333;
    font-size: 1.1em;
}

.file-upload input[type="file"] {
    display: none;
}


/** END of Modal**/