:root {
    /* Main design Colours */
    --main-green: #4caf50;
    --main-dark-grey: #333333;
    --light-grey: #f4f4f4;
    --main-purple: #800080;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
}

footer,
header {
    padding: 12px 20px;
    background-color: var(--main-dark-grey);
    color: #fff;
    z-index: 1999;
    position: sticky;
    top: 0
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    z-index: 0;
}

footer>div {
    flex: 1
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}


.log-in-wrapper {
    text-align: right;
}

.logo-header {
    cursor: pointer;
}

.logo-header:hover {
    opacity: 0.8;
}

#location-selection-wrapper {
    text-align: center;
    padding: 20px;
}

.main-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

#city-search-wrapper {
    overflow: hidden;
}

.recent-knowledge-section {
    text-align: center; 
    background-color: var(--light-grey)
}

.recently-added{
    padding: 40px 20px
}

.flex-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-container {
    font-family: Arial, sans-serif;
    background-color: var(--light-grey);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.top-index-options {
    display: flex; 
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.top-index-options > div {
    min-width: 520px
}

.top-index-options  h2 {
    margin: 8px;
}

.expand-container {
    flex: 1;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    max-width: 350px;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.map-button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 600;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    margin-bottom: 30px;
    gap: 12px;
}

.submit-button,
.general-button {
    background-color: var(--main-green);
    color: #fff;
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 360px;
    text-align: center;
    border: solid 1px var(--main-green);
}

.alert-action-button {
    background-color: #af4c50; 
    border-color: darkred;
}

.cancel-button {
    background-color: darkslategray;
    border-color: darkslategray;
}

.submit-button:hover,
.general-button:hover,
.drop-down:hover {
    background-color: #4caf50cc;
    color: #fff;
    border-color: #fff;
}


.google-button {
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    gap: 4px;
    border-color: #ccc;
}

.google-button:hover {
    background-color: #333333ef;
    color: #fff;
}

#profile-image-form{
    text-align: center;
}

.alert-action-button:hover {
    border-color: #fff;
    color: #fff;
    background-color: darkred;
}

.cancel-button:hover {
    background-color: darkslategray;
    opacity: 0.9;
}

.submit-button:active,
.general-button:active {
    transform: translate(0, 1px);
    background-color: #fff;
    color: var(--main-green);
}

.created-by-container > div b {
    cursor: pointer;
}



.plus-button {
    max-width: 50px;
    font-size: 20px;
}

.drop-down {
    background-color: var(--main-green);
    color: #fff;
    padding: 2px 8px;
    text-align: center;
    margin: auto 6px;
    border-radius: 4px;
    cursor: pointer;
    border: solid 1px var(--main-green);
    ;
}

#user-nav-menu {
    border: #fff solid 1px;
    position: absolute;
    background-color: var(--main-dark-grey);
    right: 26px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 4px;
    top: 60px;
}

#user-nav-menu a {
    color: #fff;
    padding: 2px 6px;
    text-align: center;
}

.country-selection {
    display: flex; justify-content: center; flex-wrap: wrap;
    gap: 8px;
}

#user-nav-menu a:hover {
    background-color: var(--main-green);
}

.find-me {
    display: flex;
    justify-content: center;
    height: min-content;
}

.find-me > button {
    width: -moz-fit-content;
    width: fit-content;

}

.find-me>span {
    margin-bottom: 8px;
}

#show-city-name {
    font-size: 1.4em;
    text-align: center;
}

.form-error-message {
    color: red;
    font-size: 0.9em
}

.add-knowledge-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333b;
    z-index: 10000;
}

.add-knowledge-inner-wrapper {
    margin: 20px;
    max-width: 370px;
    max-height: 70%;
    background-color: #fff;
    box-shadow: 0 0 5px #3333;
    overflow-y: auto;
    position: relative;
    font-size: 0.85em;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
}

.knowledge-form-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6px;
}

#create-entity>div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.entity-coordinates,
.entity-website {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-purple)
}

.entity-coordinates:hover,
.entity-website:hover {
    text-decoration: underline;
    color: var(--main-green);
}

#create-entity>div>h2 {
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 0px;
}

#search-entities {
    margin-top: 20px;
}

.review-text {
    margin-right: 26px;
}

.review-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-button-container > img {
    height: 1.5em;
    cursor: pointer;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 5px;
}

.review-button-container img:hover {
    transform: scale(1.1);

}

.close-popup {

    background-color: var(--main-green);
    color: #fff;
    font-size: 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 8px;
    height: 24px;
}

.tags-result-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search-tag-results {
    margin-top: 20px;
}

.entity-card {
    flex: 0 0 calc(50% - 5px);
    border: solid 3px var(--main-green);
    background-color: #fff;
    text-align: left;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 340px;
    transition: 0.15s ease-in-out;
    word-break: break-word;
}

.contact-info-title {
    margin-top: 6px;
}

.entity-card-title {
    font-size: 1.5em;
}

.card-media-and-creator {
    margin-top: 6px;
    border-top: solid 1px grey;
    padding-top: 6px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media-container {
    height: auto;
    margin-top: 6px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.media-container img {
    height: 80px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 5px #3333;
    transition: 0.15s ease-in-out;
}

.media-container img:hover {
    box-shadow: 0 0 10px #3338;
    transform: translate(0, -2px);
}

.entity-contact-info {
    margin-top: 6px;
    border-top: solid 1px grey;
    padding-top: 6px;
    width: 100%;
    flex-wrap: wrap;
}

.entity-contact-info,
.entity-contact-info * {
    display: flex;

}

.entity-contact-info>div {
    margin-right: 8px;
    padding: 2px 4px 2px 2px;
}

.entity-contact-info img {
    height: 20px;
    margin-right: 4px;
}

.entity-card ul {
    padding-left: 0px;

}

.entity-card-review {
    flex: 1;
}

.created-by-container {
    display: flex;
    align-items: center;
    margin-top: 6px;
    border-top: solid 1px grey;
    padding-top: 6px;
    justify-content: space-between;
    flex-wrap: wrap;
}



.created-by-container * {
    display: flex;
    align-items: center;
}

.created-by-container img {
    height: 22px
}

.entity-tag-selection {
    cursor: pointer;
}

.entity-tag-selection:hover {
    transform: scale(1.01);
    opacity: 0.9;
    background-color: var(--main-green)55;
}

.entity-card-tags {
    display: flex;
    flex-wrap: wrap;
}

.entity-tag {
    padding: 3px 6px;
    border: solid 1px var(--main-green);
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 4px;
    box-sizing: border-box;
}

.entity-cards-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.selected {
    color: #fff;
    background-color: var(--main-green);
}

#welcome-message {
    text-align: center; max-width: 1000px; font-size: 1em;
}

.map-container {
    position: relative;
}

.center-text {
    text-align: center;
}

.flex1 {
    flex: 1;
}

#contribute-local-knowledge {
     text-align: center;
}

#show-addentity-popup {
    width: -moz-fit-content;
    width: fit-content;
}

.entity-mini-title {
    font-size: 1.2em;
}

/* Drag Map Styles */
#drag-map {
    cursor: ns-resize;
    background-color: var(--main-dark-grey);
    height: 6px;
    border-radius: 2px;
    position: relative;
    width: 100%;
    cursor: ns-resize; 
    background-color: var(--main-dark-grey); 
    text-align: center;

}

#drag-map>div {
    height: 22px;
    width: 22px;
    border: var(--main-dark-grey) solid 4px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -12px;
    z-index: 600;
    /*background-color: #fff*/
    color: var(--main-dark-grey);
}


#drag-map>div:hover {
    background-color: #333b;
}

#drag-map>div::before,
#drag-map>div::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    /* Half the width of the triangle to center it */
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

#map {
    height: 50vh;
}

#map-options {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 120px;
    background-color: #fffa;
    z-index: 1900;
    border: solid 1px var(--main-green);
    padding: 4px 8px;
    gap: 8px;
    border-radius: 8px;
}

#map-options-button img {
    height: 1.1em;
}

#map-options-button:hover img {
    filter: invert(1);
}

#map-options > div {
    display: flex;
    align-items: center;
}



#map-options > div > * {
    width: auto;
    min-width: none;
}

#drag-map>div::before {
    top: -7px;
    /* Adjust based on the size of the triangle to position above the slider */
    border-bottom: 6px solid var(--main-dark-grey);
    /* Color and size of the top triangle */
}

#drag-map>div::after {
    bottom: -7px;
    /* Adjust based on the size of the triangle to position below the slider */
    border-top: 6px solid var(--main-dark-grey);
    /* Color and size of the bottom triangle */
}

.custom-cursor-pin {
    cursor: url('/static/assets/icons/pin2.png'), auto !important
}


@keyframes wiggle {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(-2deg); }
    10% { transform: rotate(2deg); }
    15% { transform: rotate(-2deg); }
    20% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.wiggle {
    animation: wiggle 2s ease-in-out infinite;
}

.inputed-tags-container {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
}

.inputed-tags-error {
    color: red;
    margin-top: 6px;
}

/* Styles for modal and overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    /*max-width: 60vh;
    max-height: 60vh;*/
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: right;
    max-height: 80vh;
}

.add-review-modal {
    overflow-y: auto;
}

.write-review button {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.write-review img {
    filter: invert(1);
    height: 1.6em;
    margin-right: 4px;
}

.add-knowledge-popup textarea{
    max-width: 350px; 
    width: 100%;
}

#profile-image-form textarea{
    max-width: none;
    width: 94%;
}

.knowledge-form-title.add-knowledge {
   justify-content: center;
}

.close-form-container {
    text-align: end;
}

#open-google-maps, #find-my-location, #close-open-map {
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.close-modal {
    position: absolute;
    bottom: -48px;
    right: calc(50% - 20px);
    cursor: pointer;
    font-size: 2em;
    color: #fff;
    padding: 0px 11px;
    border: solid 3px #fff;
    border-radius: 40px;
}

.close-modal:hover {
    background-color: #fff3;
    transform: scale(1.05);
}

.modal-image {
    max-width: 80vw;
    max-height: 80vh;
    margin: auto;
    object-fit: contain;
}

.loading-animation img{
    max-width: 350px;
}

.vote-selected {
    background: #aaa;
    filter: invert(1);
}

.entity-card-review {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.review-by {
    justify-content: end;
    font-size: 0.8em;
    display: flex;
    align-items: center;

}


.review-badge {
    height: 1.5em;
}

.entityreview {
    /*max-width: 300px;*/
    border: dotted 1px green;
    min-width: 150px;
    padding: 4px 6px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entityreview b {
    cursor: pointer;
}

.entity-card {
    animation: modal-anim;
    animation-duration: 1.45s;
    animation-iteration-count: 1;
}

.logo-header > div {
    color: #fff; font-weight: 700; font-size: x-large; margin-left: 4px;
}


.logo-header > img {
    height: 2.8em;
    border-radius: 8px;
}

#welcome-message {
    animation: modal-anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#welcome-message {
    padding-bottom: 0;
}

@keyframes modal-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }

}




@media screen and (max-width: 740px) {

   
    .entity-card {
        min-width: auto;
        flex: none;
        width: 100%;
    }

    .top-index-options > div{
        flex: none;
        min-width: auto;
        width: 100%;
    }

    header {
        font-size: 0.8em;
        padding: 6px 10px
    }

    .logo-header > div {
        font-size: 1em;
    }

    .map-button-container {
        font-size: 0.7em;
    }
}

.hidden {
    display: none !important;
}